<div class="welcome-container">
  <div class="welcome-container-text">
    Have you ever wondered where you truly stand against your gym buddies? Look
    no more! All you need in some basic information about your friends and we
    can see where you stand.
  </div>
  <ng-container
    *ngIf="(friends$ | async)?.myFriends?.length > 0; else noFriends"
  >
    <button
      mat-raised-button
      color="primary"
      routerLink="/friends"
      class="get-stated-btn"
      (click)="resetData()"
    >
      Lets Start Fresh!
    </button>
    <button
      mat-raised-button
      color="accent"
      routerLink="/friends"
      class="get-stated-btn"
    >
      View Current Friends
    </button>
  </ng-container>
  <ng-template #noFriends>
    <button
      mat-raised-button
      color="primary"
      routerLink="/friends"
      class="get-stated-btn"
    >
      Lets Get Started!
    </button>
  </ng-template>
</div>
